<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS 361 - FALL 23</title>  
    <link rel="stylesheet" href="./css/style.css"  type="text/css">  
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    
    
    <div id="home-menu" class="home-menu">
    <div id="main-header" class="box-header">
        <a href="/">LOGUE.</a>
    </div>
    <div id="main-container" class="box-container">
        <br>
        CS 361 - FINAL PROJECT <br>
        FALL 2023 <br> 
        A personal book catalogue for a user. <br> <br>
        FEATURES: <br>
        <ul>
            <li>book storage.</li>
            <li>personal library search.</li>
            <li>book search.</li>
        </ul>
        </div>

    <div id="books-header" class="box-header">
        <a href="/books">BOOKS.</a>
    </div>
    <div id="books-container" class="box-container">
        <br>
        <p>FEATURES:</p>
        <br>
        <ul>
            <li>add a new book to the catalogue.</li>
            <li>update progress.</li>
            <li>delete a book in the catalogue.</li>
        </ul>
        </div>

    <div id="profile-home-header" class="box-header">
        <a href="/faq">FAQ.</a>
    </div>
    <div id="profile-home-container" class="box-container">
        <br>
        For All Your Questions. <br><br>
        <ul>
            <li>FAQ.</li>
            <li>Tutorial.</li>
        </ul>
        </div>
    </div>


    </main>
	

    
  </body>
</html>