<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS 361 - FALL 23</title>  
    <link rel="stylesheet" href="./css/style.css"  type="text/css">  
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    
    

    <div id="user-header" class="box-header">
        <a href="/">LOGUE USER.</a>
    </div>
    <div id="user-container" class="box-container">
        <br>
        USER NAME. <br>
        BIO. <br> 
        CURRENT READ. <br> <br>
        <br>
        <ul> TOP BOOKS OF 2023:
            <li>BOOK 1.</li>
            <li>BOOK 2.</li>
            <li>BOOK 3.</li>
        </ul>
        </div>

    <div id="profile-header" class="box-header"></div>
    <div id="profile-container" class="box-container">
        <img id="profile-picture" src="./img/default_profile.avif">
    </div>

    


    </main>
	

    
  </body>
</html>